.container{
	min-height: 100%;
	max-width: 1400px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 60px;
	flex: 1 0 100%;
	color: #7d7676;
	font-size: 18px;
	background: #ffff;
}